.auction.well
  %h2.auction-title
    = auction.title
    = auction.price
    %span.label.label-info.pull-right= number_to_currency(auction.price)
  .auction-description
    = auction.text.html_safe

  - if auction.belongs_to_user?(current_user)
    .actions.pull-right
      = link_to(edit_auction_path(auction)) do
        %span.glyphicon.glyphicon-pencil.right-5
      = link_to(auction_path(auction), method: :delete, data: { confirm: 'Are you sure?' }) do
        %span.glyphicon.glyphicon-remove
