= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'std_form' }) do |f|
  %h2 Sign in
  = f.email_field :email, autofocus: true, placeholder: 'e-mail', required: true, class: 'form-control'
  = f.password_field :password, autocomplete: 'off', placeholder: 'password', required: true, class: 'form-control'
  - if devise_mapping.rememberable?
    .checkbox
      %label{ for: 'user_remember_me' }
        = f.check_box :remember_me
        Remember me
  = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'
  .top-10
    = link_to 'Forgot your password?', new_password_path(resource_name)